html, body {
  background: repeating-linear-gradient(120deg,
  #236533,
  #236533 127px,
  #1a5127 127px,
  #1a5127 260px);
  height: 100%;
  padding: 0;
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ball {
  position: fixed;
  top: 3em;
  width: 3em;
  height: 3em;
  left: 6em;
  -webkit-animation: bounce .3s cubic-bezier(.63,.09,.76,.45) infinite alternate;
  -moz-animation:    bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  -o-animation:      bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
  animation:         bounce .3s cubic-bezier(.63,.09,.76,.45)  infinite alternate;
}

#bat {
  position: fixed;
  top: 3em;
  left: -10.5em;
  -webkit-animation: hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -moz-animation:    hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  -o-animation:      hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  animation:         hit .3s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}

.red {
  fill:#D7172A;
}

.tan {
  fill:#FFD87D;
}

.white {
  fill:#ffffff;
}

@-webkit-keyframes hit {
  0% { transform: rotate(0deg);} 
  100% { transform: rotate(-10deg); }
}

@-webkit-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-moz-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@-o-keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
}

@keyframes bounce {
  0% { top: -7em; height: 3em; width: 3em; transform: rotate(20deg); }
  25% { height: 3em; width: 3em; }
  75% { height: 3em; width: 3em; }
  100% { top: 0; height: 3em; width: 3em; transform: rotate(-20deg); }
} 